<!DOCTYPE html>
<html>
<head>
    <title>Password Manager</title>
    <!-- Подключение файлов Materialize CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <style>
    nav.navbar {
      transition: box-shadow .3s, background-color .3s;
      padding: 0 20px;
      background-color: #fff;
      color: rgba(0,0,0,0.87);
    }
    nav.navbar .brand-logo {
      position: relative;
      float: left;
      font-size: 18px;
      color: rgba(0,0,0,0.87);
    }
    .page-footer {
      background-color: #fff;
      border-top: 1px solid #e0e0e0;
      color: #444;
      padding: 10px 0;
      margin: 0;
    }
    main {
        flex: 1 0 auto;
        min-height: 75vh
    }

    .password-mask {
        margin-right: 15px;
    }
    .copy-icon, .delete-icon, .edit-icon, .password-mask {
        cursor: pointer;
    }
    nav ul a {
        color: rgba(0,0,0,0.87);
    }
    h2.page-title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .toast {
        background-color: #0D47A1;
    }
  </style>
</head>

<body>
<header></header>
<nav class="navbar nav-extended no-padding">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Password saver</a>
        <ul id="nav-mobile" class="right">
            <li><a href="/logout"><i class="material-icons dp48">exit_to_app</i></a></li>
        </ul>
      </div>
</nav>
<main>
  <div class="container">
    <h2 class="page-title">
      Password Manager
      <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add</a>
    </h2>
    <table class="centered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Login</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for password in passwords %}
                <tr data-login="{{ password.login }}" data-password="{{ password.password }}" data-title="{{ password.title }}" data-password-id="{{ password.id }}">
                    <td>{{ password.title }}</td>
                    <td>{{ password.login }}</td>
                    <td>
                        <span class="password-mask" data-password="{{ password.password }}" onclick="togglePasswordVisibility(this)">*********</span>
                        <i class="material-icons copy-icon blue-text text-darken-2" onclick="copyPassword(this)">content_copy</i>
                    </td>
                    <td>
                        <i class="material-icons edit-icon green-text text-lighten-1" onclick="editPassword(this)">edit</i>
                        <i class="material-icons delete-icon red-text text-lighten-1" onclick="deletePassword(this)">delete</i>
                    </td>
                </tr>
            {% endfor %}
            <!-- Здесь можно добавить динамическое заполнение таблицы с помощью JavaScript -->
        </tbody>
    </table>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Add Password</h4>
        <form id="addPasswordForm">
            <div class="input-field">
                <input type="text" id="passwordName" name="passwordName" required>
                <label for="passwordName">Password Title</label>
            </div>
            <div class="input-field">
                <input type="text" id="passwordLogin" name="passwordLogin" required>
                <label for="passwordLogin">Password Login</label>
            </div>
            <div class="input-field">
                <input type="password" id="passwordValue" name="passwordValue" required>
                <label for="passwordValue">Password Value</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit">Add Password</button>
        </form>
    </div>
</div>
    <!-- Modal Structure -->
    <div id="edit-modal" class="modal">
        <div class="modal-content">
            <h4>Edit Password</h4>
            <form id="editPasswordForm">
                <label for="passwordName" class="active">Password Title</label>
                <div class="input-field">
                    <input type="hidden" id="editpasswordId" name="passwordId" required>
                    <input type="text" id="editpasswordName" name="passwordName" required>

                </div>
                <label for="passwordLogin" class="active">Password Login</label>
                <div class="input-field">
                    <input type="text" id="editpasswordLogin" name="passwordLogin" required>

                </div>
                <label for="passwordValue" class="active">Password Value</label>
                <div class="input-field">
                    <input type="text" id="editpasswordValue" name="passwordValue" required>
                </div>
                <button  id="saveButton" class="btn waves-effect waves-light" type="submit" disabled>Save</button>
            </form>
        </div>
    </div>
</main>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s6 m3">
        <p>Made by O.Zaitsev.</p>
      </div>
    </div>
  </div>
</footer>
<!-- Подключение файлов Materialize JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    M.AutoInit();
    // Функция для отображения пароля
    function togglePasswordVisibility(element) {
        var password = element.getAttribute('data-password');
        element.textContent = element.textContent === '*********' ? password : '*********';
    }

    // Слушаем изменения в полях формы
    document.getElementById('editpasswordName').addEventListener('input', handleInputChange);
    document.getElementById('editpasswordLogin').addEventListener('input', handleInputChange);
    document.getElementById('editpasswordValue').addEventListener('input', handleInputChange);

    // Функция для обработки изменений в полях формы
    function handleInputChange() {
        // Получаем значения полей
        var passwordName = document.getElementById('editpasswordName').value;
        var passwordLogin = document.getElementById('editpasswordLogin').value;
        var passwordValue = document.getElementById('editpasswordValue').value;

        // Получаем кнопку "Save"
        var saveButton = document.getElementById('saveButton');

        // Проверяем, есть ли значения в полях
        if (passwordName.trim() !== '' && passwordLogin.trim() !== '' && passwordValue.trim() !== '') {
            // Если все поля заполнены, включаем кнопку "Save"
            saveButton.removeAttribute('disabled');
        } else {
            // Если хотя бы одно поле не заполнено, отключаем кнопку "Save"
            saveButton.setAttribute('disabled', 'disabled');
        }
    }


    function editPassword(element) {
        // Находим родительский элемент <tr> для элемента, на который был сделан клик
        let trElement = element.closest('tr');

        // Получаем значения атрибутов
        let login = trElement.getAttribute('data-login');
        let title = trElement.getAttribute('data-title');
        let passwordId = trElement.getAttribute('data-password-id');
        let password = trElement.getAttribute('data-password');

        // Заполняем поля в форме редактирования
        document.getElementById('editpasswordName').value = title;
        document.getElementById('editpasswordLogin').value = login;
        document.getElementById('editpasswordValue').value = password;

        document.getElementById('editpasswordId').value = passwordId;
        var instance = M.Modal.getInstance(document.getElementById('edit-modal'));
        instance.open();

    }

    // Находим форму по ее ID
    var editPasswordForm = document.getElementById('editPasswordForm');

    // Добавляем обработчик события submit
    editPasswordForm.addEventListener('submit', function (event) {
        event.preventDefault(); // Предотвращаем стандартное поведение формы (перезагрузку страницы)

        // Получаем значения из полей формы
        let passwordName = document.getElementById('editpasswordName').value;
        let passwordLogin = document.getElementById('editpasswordLogin').value;
        let passwordValue = document.getElementById('editpasswordValue').value;
        let passwordId = document.getElementById('editpasswordId').value;
        console.log(passwordId);
        // Создаем объект с данными для отправки
        let data = {
            passwordName: passwordName,
            passwordLogin: passwordLogin,
            passwordValue: passwordValue
        };

        // Создаем новый объект XMLHttpRequest
        let xhr = new XMLHttpRequest();

        // Настраиваем запрос (PUT-запрос на '/edit_password')
        xhr.open('PUT', '/edit_password/' + passwordId, true);
        xhr.setRequestHeader('Content-Type', 'application/json');

        // Обработка ответа от сервера
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Успешный ответ от сервера
                var response = JSON.parse(xhr.responseText);
                let modalInstance = M.Modal.getInstance(document.getElementById('edit-modal'));
                modalInstance.close();
                M.toast({html: response.message, displayLength: 1500, classes: 'rounded', completeCallback: function (){ location.reload()}});

            } else {
                // Обработка ошибки
                console.error('Ошибка: ' + xhr.status);
            }
        };

        // Обработка ошибки при отправке запроса
        xhr.onerror = function () {
            console.error('Произошла ошибка при отправке запроса.');
        };

        // Отправляем запрос на сервер с данными формы
        xhr.send(JSON.stringify(data));
    });


    // Функция для копирования пароля
    function copyPassword(icon) {
        var passwordElement = icon.previousElementSibling;
        var password = passwordElement.getAttribute('data-password');

        // Копирование пароля в буфер обмена
        var tempInput = document.createElement('input');
        tempInput.value = password;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);

        // Отображение Toast-сообщения
        M.toast({html: 'Password copied', classes: 'rounded'});
    }

    // Функция для удаления пароля
    function deletePassword(icon) {
        var passwordRow = icon.parentNode.parentNode;
        var passwordId = passwordRow.getAttribute('data-password-id');

        // Здесь можно отправить AJAX-запрос на удаление пароля по его ID
        // и обновить таблицу после успешного удаления

        // Отправка AJAX-запроса на удаление пароля
        var xhr = new XMLHttpRequest();
        xhr.open('DELETE', '/passwords/' + passwordId, true);
        xhr.onload = function() {
            if (xhr.status === 200) {
                // Успешное удаление пароля, обновление таблицы
                passwordRow.remove();
                M.toast({html: 'Password deleted', classes: 'rounded'});
            } else {
                // Обработка ошибки удаления пароля
                M.toast({html: 'Error deleting password', classes: 'rounded red'});
            }
        };
        xhr.send();
    }

    // Обработчик отправки формы добавления пароля
    document.getElementById('addPasswordForm').addEventListener('submit', function(event) {
        event.preventDefault();

        // Получение значений полей формы
        var passwordName = document.getElementById('passwordName').value;
        var passwordValue = document.getElementById('passwordValue').value;
        var passwordLogin = document.getElementById('passwordLogin').value;

         // Создание объекта XMLHttpRequest
        var xhr = new XMLHttpRequest();

        // Установка параметров запроса
        xhr.open('POST', '/add_password');
        xhr.setRequestHeader('Content-Type', 'application/json');

        // Отправка запроса
        xhr.send(JSON.stringify({ passwordName: passwordName, passwordValue: passwordValue, passwordLogin: passwordLogin }));

        // Обработка ответа
        xhr.onload = function() {
            console.log('#addPasswordForm');
            if (xhr.status === 200) {
                // Обработка успешного добавления пароля
                var response = JSON.parse(xhr.responseText);
                let modalInstance = M.Modal.getInstance(document.getElementById('modal1'));
                modalInstance.close();
                M.toast({html: response.message, displayLength: 1500, classes: 'rounded', completeCallback: function (){ location.reload()}});

            } else {
                // Обработка ошибки
                 M.toast({html: 'Error add password', classes: 'rounded red'});
            }
        };
    });

</script>
</body>
</html>
